body{
    margin:0;
    
  }
a {
  color:black;
  text-decoration: none;
}

ul,li {
  list-style: none;
}

h3{
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin: 0px;
}

#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
  border-bottom: 1px solid gray;
}

ul{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0px;
  padding: 20px;
  padding-right: 0px;
}

address{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
}

#grid #article{
  padding-left: 20px;
}

.topline{
  border-top: 1px solid gray;
}