html, body{ 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
  background-color: black;
}
/* container */

/* header */

.header {
  color:white;
}

.mianTitle {
  font-size:200%;
}

/* logo */
.logo {
  text-align: center;
}