html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* container */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo */

.logo {
  padding: 3rem;
  width: 20rem;
  height: 20rem;
}

/* sub-box */

.sub-box {
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(to right, black, gray);
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
  height: 7rem;
}
/* item-box */

.item-box {
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 70rem;
}

.items {
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
}

.titles {
  display: flex;
  width: 100%;
  color: #000000;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.texts {
  padding: 1rem;
  text-align: center;
  height: 8rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  color:white;
}