body {
    background-color: 2c3e50;
}
.form, .greetings {
    display: none;
}

.showing {
    display:block
}


@keyframes fadeIn {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .0.5s linear;
}
