html, body{ 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
  text-align: center;
}

ul,li{
  list-style:none;
}

/* main container */

.Container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* header */

.headContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* banner */


  .slide{
    height: 740px;;
    overflow:hidden;
  }

  .slide ul{
    padding-left: 0px;
    width:calc(100% * 4);
    display:flex;
    animation:slide 12s infinite;
  } /* slide를 8초동안 진행하며 무한반복 함 */

  .slide li{
    width:calc(100% / 4);
    height: 740px;
    object-fit: fill;
  }
  .slide li img {
  width: 1080px;
  height: 740px;
  object-fit: fill;
  }

  
  
  
  @keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
  }

/* info */

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoContainerTitle {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.infoContainerTitle:first-child {
  margin-top: 0px;
}

.infoContaineItems {
  font-size: 16px;
}

.imgContainer {
  display: none;
}
/* footer */

.footer {
  font-size: 10px;
}