html, body{ 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
  text-align: center;
}
/* main container */

.Container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* header */

.headContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* banner */

#img {
  width: 1080px;
  height: 740px;
  object-fit: fill;
}

/* info */

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoContainerTitle {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.infoContainerTitle:first-child {
  margin-top: 0px;
}

.infoContaineItems {
  font-size: 16px;
}

.imgContainer {
  display: none;
}
/* footer */

.footer {
  font-size: 10px;
}