:root {
  --default-color : #f0f4f5;
}



html, body{ 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0; 
  text-align: center;
  font-family: 'Source Sans Pro';
}

ul,li{
  list-style:none;
}

a {
  text-decoration: none;
  color: var(--default-color);
}
/* main container */

.Container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* header navigation  */

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49754C;
  padding: 8px 12px;
}

.nav_logo{
  font-size: 24px;
}

.nav_menu {
  display: flex;  
}

.nav_menu li {
  padding: 8px 12px;
}

.nav_bar li:hover {
  background-color: #335035;
  border-radius: 4px;
}
.nav_icons {
  color: var(--default-color);
  display:flex;
}

.nav_bar li {
  padding: 8px 12px;
}

.nav_toggle {
  display: none;
  position:absolute;
  right: 32px;
  font-size: 24px;
  color: #335035;
}

/* 반응형 웹 width 줄어들 경우 바뀌는 화면 */

@media screen and (max-width:768px) {
  .nav_bar {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  }

  .nav_bar ul {
    padding-left: 0px;
    display: none;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .nav_icons {
    justify-content: center;
    width: 100%;
  }

  .nav_toggle {
    display: block;
  }

  .nav_menu.active,
  .nav_icons.active {
    display: flex;
  }

}
  


/* banner */


  .slide{
    height: 740px;;
    overflow:hidden;
;
  }

  .slide ul{
    margin-top: 0px;
    padding-left: 0px;
    width:calc(100% * 4);
    display:flex;
    animation:slide 12s infinite;
  } /* slide를 8초동안 진행하며 무한반복 함 */

  .slide li{
    width:calc(100% / 4);
    height: 740px;
    object-fit: fill;
  }
  .slide li img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  }

  
  
  
  @keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
  }

/* footer */

.footer {
  font-size: 10px;
}